<table class="table">
  <thead>
    <tr>
      <th>追加日</th>
      <th>タイトル</th>
    </tr>
  </thead>
  <tbody>
    <% lists.each do |list| %>
      <tr>
        <td><%= list.created_at.strftime("%Y/%m/%d %H:%M") %></td>
        <td><%= link_to list.title, list_path(list) %></td>
      </tr>
    <% end %>
  </tbody>
</table>