<div class="container">
  <div class="row">
    <h2>マイページ</h2>
  </div>
  <div class="row">
    <div class="col-6">
      <h4>投稿</h4>
      <%= form_with model: @list do |f| %>
        <h6>タイトル</h6>
        <%= f.text_field :title %>

        <h6>内容</h6>
        <%= f.text_area :body %>
        <%= f.submit '投稿' %>
      <% end %>
    </div>
    <div class="col-6">
      <h4>未</h4>
      <table class="table">
        <thead>
          <tr>
            <th>追加日</th>
            <th>タイトル</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
      <h4>済</h4>
    </div>
  </div>
</div>