<div class="container">
  <div class="row">
    <div class="col">
      <h2>マイページ</h2>
      <table class="table">
        <thead>
          <tr>
            <th>追加日</th>
            <th>やること</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </div>
    </div>
  </div>
</div>